* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

iframe,
embed {
	max-width: 100%;
}

.responsive {
	padding-right:320px;
	@media (max-width:780px) {
		padding-right:0;
	}
}
.responsive .sidebar {
	width:300px;
	margin-right: -320px;
	@media (max-width:780px) {
		width: 100%;
		margin-right: 0;
	}
}
.responsive-left {
	padding-left:320px;
	@media (max-width:780px) {
		padding-right:0;
	}
}
.responsive-left .sidebar {
	width:300px;
	margin-left: -320px;
	@media (max-width:780px) {
		width: 100%;
		margin-right: 0;
	}
}

.full-width {
	width: 100%;
}

.alignleft { 
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
}

.hidden {
	display: none;
}