/* Buttons */

.btn {
	display:inline-block;
	padding:0.5em;
	color: rgba(0,0,0,0.75);
	text-decoration:none;
	background: $gray;
	border:0;
	border-radius: $border-radius;
	&.hollow {
		box-shadow:0 0 2px $gray;
		background:#fff;
		color: $gray;
	}

	&-primary {
		background: $primary;
		color: #fff;
		&.hollow {
			box-shadow:0 0 0 1px $primary inset;
			background:#fff;
			color: $primary;
		}
	}
	&-submit {
		background: $submit;
		color: #fff;
		&.hollow {
			box-shadow:0 0 0 1px $submit inset;
			background:#fff;
			color: $submit;
		}
	}
	&-success {
		background: $success;
		color:#fff;
		&.hollow {
			box-shadow:0 0 0 1px $success inset;
			background:#fff;
			color: $success;
		}
	}
	&-warning {
		background: $warning;
		color:#fff;
		&.hollow {
			box-shadow:0 0 0 1px $warning inset;
			background:#fff;
			color: $warning;
		}
	}
	&-danger {
		background: $danger;
		color:#fff;
		&.hollow {
			box-shadow:0 0 0 1px $danger inset;
			background:#fff;
			color: $danger;
		}
	}
}

/* ALERTS */

.alert {
	display:block;
	padding:0.5em;
	color: rgba(0,0,0,0.75);
	background: $gray;
	border-radius: $border-radius;
	&.hollow {
		box-shadow:0 0 2px $gray;
		background:#fff;
		color: $gray;
	}

	&-primary {
		background: $primary;
		color: #fff;
		&.hollow {
			box-shadow:0 0 0 1px $primary inset;
			background:#fff;
			color: $primary;
		}
	}
	&-success {
		background: $success;
		color:#fff;
		&.hollow {
			box-shadow:0 0 0 1px $success inset;
			background:#fff;
			color: $success;
		}
	}
	&-warning {
		background: $warning;
		color:#fff;
		&.hollow {
			box-shadow:0 0 0 1px $warning inset;
			background:#fff;
			color: $warning;
		}
	}
	&-danger {
		background: $danger;
		color:#fff;
		&.hollow {
			box-shadow:0 0 0 1px $danger inset;
			background:#fff;
			color: $danger;
		}
	}
}

