/* GRID */

.grid {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
	div[class^="col-"] {
		margin:1.5%;
		@media (max-width: 600px) {
			margin: 2.5% 1.5%;
		}
	}

	.col-1 {
		width: 97%;
	}
	.col-2 {

		width: 47%;
		@media (max-width: 480px) {
			width: 97%;
		}
	}
	.col-3 {

		width: 30%;
		@media (max-width: 600px) {
			width: 47%;
		}
		@media (max-width: 320px) {
			width: 97%;
		}
	}
	.col-4 {

		width: 22%;

		@media (max-width: 780px) {

			width: 47%;
		}
		@media (max-width: 480px) {
			width: 97%;
		}
	}
	.col-5 {

		width: 17%;
		@media (max-width: 600px) {
			width: 47%;
		}
		@media (max-width: 320px) {
			width: 97%;
		}
	}
	.col-6 {

		width: 13%;

		@media (max-width: 780px) {
			width: 47%;
		}
		@media (max-width: 480px) {
			width: 97%;
		}
	}
}
