/* TABLES */

table {
	width:100%;
	max-width:100%;
	margin-bottom:1em;

	thead {
		border-bottom: 2px solid $gray;
		text-align: center;
		font-weight: bold;
	}
	td, th {
		padding: 0.5em;
	}

	tr {
		&:nth-child(even) {
			background: rgba(0,0,0,0.075);
		}
	}
	
	&.small {
		td, th {
			padding: 0.4em;
		}
	}

}