/*
	@MatiBrufal =D
	@ Version 1.0
*/

// Framework

$border-radius: 4px;

// Colors Variables

$primary: red;
$gray: #ddd;
$submit: #2199e8;
$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d9534f;

body {
	color:#353535;
	font-size:16px;
	line-height:1.5;
}

section {
	margin-bottom:2.5px;
	overflow:hidden;
	padding:0.5em;
	border-bottom:1px solid #ccc;
}


// Reset
@import "normalize";

// Core CSS
@import "base";
@import "typography";
@import "grid";
@import "forms";
@import "tables";
@import "buttons";

/* Adicionales */

// Feed
@import "feed";

// Woocommerce
@import "woocommerce"