/*
	@MatiBrufal =D
	@ Version 1.0
*/

// Framework

$border-radius: 4px;

// Colors Variables

$primary: #e31957; // cambiar por el preferido
$gray: #eee;
$submit: #2199e8;

$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d9534f;

// Reset
@import "normalize";

// Core CSS
@import "base";
@import "typography";
@import "grid";
@import "forms";
@import "tables";
@import "buttons";

/* Adicionales */

// Woocommerce
@import "woocommerce"